.c-details {
  display: flex;
  flex-direction: row;
  border: solid orange;
}
.principal {
  width: 100%;
  height: 100%;
}

.nto {
  border-bottom: solid orange;
  color: black;
  padding: 0rem;
}
.iitem1 {
  width: 17rem;
  border: solid orange;
}

.iitem3 {
  border: solid orange;
}

.img-detail {
  width: 130rem;
  height: 39.8rem;
}
.img-detail1 {
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

.c-details1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  text-align: center;
  font-size: medium;
  font-family: "cursive" "Source Sans Pro", "Arial", sans-serif;
  font-size: 1.4rem;
  padding: 1rem;
}

.bottom {
  background-color: rgba(0, 0, 0, 0.35);
  width: 10rem;
  height: 3rem;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 2vw;
}
.bt {
  display: flex;
  flex-direction: row;
  border: solid;
  justify-content: center;
  align-items: center;
}
h3 {
  padding: 0.5rem;
  font-size: 1rem;
}
