.cont {
  background-image: url("../../img/control.jpg"); 
  min-height: 100vh;
  display: flex;
  color: #fff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
ite {
  width: 14rem;
}

.bt {
  background-color: rgba(0, 0, 0, 0.35);
  width: 10rem;
  height: 3rem;
  cursor: pointer;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 2vw;
}
